@namespace Goodtocode.SemanticKernel.Presentation.Blazor.Components.Layout

@inherits LayoutComponentBase
@inject NavigationManager Navigation

<NavMenu />
<ErrorBoundary @ref="errorBoundaryRef">
    <ChildContent>
        <div class="page">
            <main>
                <article class="content">
                    @Body
                </article>
            </main>
        </div>
    </ChildContent>
    <ErrorContent Context="ex">
        <div class="error-dialog-backdrop">
            <div class="error-dialog">
                <div class="alert alert-danger mb-3">
                    Oops! Something went wrong.<br />
                    @ex.Message
                </div>
                <button class="btn btn-sm btn-primary" @onclick="OnRecoverAndNavigate">Go Home</button>
            </div>
        </div>
    </ErrorContent>
</ErrorBoundary>

@code {
    private ErrorBoundary? errorBoundaryRef;

    private void OnRecoverAndNavigate()
    {
        errorBoundaryRef?.Recover();
        Navigation.NavigateTo("/", forceLoad: true);
    }
}
