@inherits LayoutComponentBase

<div class="page">
    <div class="top-row">
        <NavMenu />        
    </div>

    <main>
        <article class="content max-w-chat px-4">
            @Body
        </article>
    </main>
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
