@using Microsoft.AspNetCore.Components.Web

<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light" @onclick:stopPropagation>
        <button class="navbar-toggler d-md-none" type="button" @onclick="ToggleNavMenu" aria-controls="navbarNav" aria-expanded="@navMenuOpened" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-none d-md-flex" id="navbarNav">
            <ul class="navbar-nav ms-auto flex-row w-100 justify-content-end">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="chat">
                        <span class="bi bi-chat-dots-fill-nav-menu" aria-hidden="true"></span> Chat Session
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="weather">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                    </NavLink>
                </li>
            </ul>
        </div>
        <div class="mobile-nav d-md-none @(navMenuOpened ? "show" : "")">
            <ul class="navbar-nav flex-column w-100">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="CloseNavMenu">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="chat" @onclick="CloseNavMenu">
                        <span class="bi bi-chat-dots-fill-nav-menu" aria-hidden="true"></span> Chat Session
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="counter" @onclick="CloseNavMenu">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="weather" @onclick="CloseNavMenu">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                    </NavLink>
                </li>
            </ul>
        </div>
    </nav>
    @if (navMenuOpened)
    {
        <div class="navmenu-backdrop" @onclick="CloseNavMenu" style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:1040;background:transparent;"></div>
    }
</div>

@code {
    private bool navMenuOpened = false;

    private void ToggleNavMenu()
    {
        navMenuOpened = !navMenuOpened;
    }

    private void CloseNavMenu()
    {
        navMenuOpened = false;
    }
}