.top-row {
    /*    min-height: 3.5rem;*/
    /*    background-color: rgba(0,0,0,0.4);*/
}

.navbar-brand {
    font-size: 1.1rem;
}

.nav-item {
    font-size: 0.9rem;
    text-decoration: none;
}
    .nav-item ::deep .nav-link {
        color: var(--bs-navbar-link-color);
        border: none;
        border-radius: 4px;
        display: flex;
        align-items: center;
        width: 100%;        
    }

    .nav-item ::deep a.active {
        color: var(--gtc-primary-bg);
        text-decoration: none;        
    }

    .nav-item ::deep .nav-link:hover {
        color: var(--gtc-primary-bg);
        text-decoration: none;
    }

.nav-scrollable {
    display: none;
}

.nav-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background: transparent;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.2rem;
    margin-right: 0.75rem;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-chat-dots-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chat-dots' viewBox='0 0 16 16'%3E%3Cpath d='M8 3a5 5 0 1 0 4.546 2.914.5.5 0 1 1 .898-.442A6 6 0 1 1 8 2v1zm2.528 3.529a.5.5 0 0 1 0 .707l-5.25 5.25a.5.5 0 0 1-.732-.681l.086-.087 5.25-5.25a.5.5 0 0 1 .707 0zM6 8c-.601 0-1-.398-1-1s.399-1 1-1 1 .398 1 1-.399 1-1 1zm3 1c-.601 0-1-.398-1-1s.399-1 1-1 1 .398 1 1-.399 1-1 1z'/%3E%3C/svg%3E");
}

@media (max-width: 768px) {
    .navbar-collapse.d-md-flex

{
    display: none !important;
}

.mobile-nav {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: #f8f9fa;
    z-index: 1050;
    border-bottom: 1px solid #dee2e6;
}

    .mobile-nav.show {
        display: block;
    }

    .mobile-nav .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile-nav .nav-link {
        width: 100%;
        text-align: left;
    }

}

@media (min-width: 769px) {
    .mobile-nav {
        display: none !important;
    }

    .navbar-collapse.d-md-flex {
        display: flex !important;
    }

    .navbar-nav.flex-row {
        flex-direction: row !important;
    }
}