@page "/chat"
@using Goodtocode.SemanticKernel.Presentation.Blazor.Models
@using Goodtocode.SemanticKernel.Presentation.Blazor.Services
@using Microsoft.AspNetCore.Components.Web
@inject IChatService ChatService

<PageTitle>Semantic Kernel Chat Session</PageTitle>

<h1>How can I help?</h1>

<div class="input-group mb-3">
    <input @bind="Message" type="text" class="form-control" placeholder="Type your message here..." aria-label="Type your message here..." aria-describedby="button-send">
    <button class="btn btn-primary" type="button" id="button-send" @onclick="SubmitMessage">Send</button>
</div>

<ul>
    @foreach (var session in chatSessions)
    {
        <li>@session.Title (@session.IsActive ? "Active" : "Inactive")</li>
    }
</ul>

@code {
    private string? Message { get; set; }
    private List<ChatSessionModel> chatSessions = new List<ChatSessionModel>();

    protected override async Task OnInitializedAsync()
    {
        chatSessions = await ChatService.GetChatSessionsAsync();
    }

    private async Task SubmitMessage()
    {
        if (!string.IsNullOrEmpty(Message))
        {
            await ChatService.SendMessageAsync(Message);
            Message = string.Empty;
        }
    }
}
