.input-group .form-control {
    border-radius: 0.25rem;
}

.btn-primary {
    background-color: #0078D4;
    border-color: #0078D4;
}

    .btn-primary:hover {
        background-color: #005A9E;
        border-color: #005A9E;
    }
