html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    min-height: 100vh;
}

h1:focus {
    outline: none !important;
    box-shadow: none !important;
}

a {
    text-decoration: none;
}

.bg-primary-translucent {
    background-color: rgba(var(--bs-primary-rgb), 0.8) !important;
}

.bg-secondary-translucent {
    background-color: rgba(var(--bs-secondary-rgb), 0.8) !important;
}

.input-group .form-control {
    border-radius: 0.25rem;
}

.btn-primary {
    background-color: #0078D4;
    border-color: #0078D4;
}

    .btn-primary:hover {
        background-color: #005A9E;
        border-color: #005A9E;
    }