html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.bg-primary-translucent {
    background-color: rgba(var(--bs-primary-rgb), 0.8) !important;
}

.bg-secondary-translucent {
    background-color: rgba(var(--bs-secondary-rgb), 0.8) !important;
}