@page "/chat"

@using Microsoft.AspNetCore.Components.Web
@using Goodtocode.SemanticKernel.Presentation.Blazor.Pages.Chat.Components
@using Goodtocode.SemanticKernel.Presentation.Blazor.Pages.Chat.Models
@using Goodtocode.SemanticKernel.Presentation.Blazor.Pages.Chat.Services
@using Goodtocode.SemanticKernel.Presentation.Blazor.Services

@inject IChatService chatService

<PageTitle>Semantic Kernel Chat Session</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-8 offset-4">
            <h1 class="mt-2 mb-4">What can I help you with?</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <ChatSessions Sessions="chatSessions" OnSessionSelected="HandleSessionSelected" OnNewSessionPressed="HandleNewSessionPressed" />
                </div>
                <div class="col-8 d-flex flex-column chat-messages-panel">                    
                    <ChatMessages Messages="chatSessions.ActiveSession?.Messages" />
                    <ChatMessageInput Sessions="chatSessions" OnSessionCreated="HandleSessionCreated" OnMessageSubmitted="HandleMessageSubmitted" />
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private ChatSessionsModel chatSessions = new ChatSessionsModel();

    protected override async Task OnInitializedAsync()
    {
        chatSessions = new ChatSessionsModel();
        chatSessions.AddRange(await chatService.GetChatSessionsAsync());
        StateHasChanged();
    }


    private async Task HandleMessageSubmitted()
    {
        chatSessions.RefreshItem(await chatService.GetChatSessionAsync(chatSessions?.ActiveSession?.Id ?? Guid.Empty));
        StateHasChanged();
    }

    private void HandleNewSessionPressed()
    {
        StateHasChanged();
    }

    private void HandleSessionCreated(ChatSessionModel chatSession)
    {

    }

    private void HandleSessionSelected()
    {
    }
}