@using Goodtocode.SemanticKernel.Presentation.Blazor.Components.Skeleton
@using Goodtocode.SemanticKernel.Presentation.Blazor.Pages.Chat.Models
@using Goodtocode.SemanticKernel.Presentation.Blazor.Services
@using Microsoft.AspNetCore.Components.Web

@code
{
    [Parameter] public IEnumerable<ChatSessionModel>? Sessions { get; set; }
    [Parameter] public EventCallback<ChatSessionModel> OnSessionSelected { get; set; }
    [Parameter] public EventCallback OnNewSessionPressed { get; set; }

    private async Task SelectSessionAsync(ChatSessionModel selectedSession)
    {
        selectedSession.IsActive = true;
        await OnSessionSelected.InvokeAsync(selectedSession);
        StateHasChanged();
    }

    private async Task NewSessionAsync()
    {
        if (Sessions != null)
        {
            foreach (var session in Sessions)
            {
                session.IsActive = false;
            }
        }
        StateHasChanged();
        await OnNewSessionPressed.InvokeAsync();
    }
}

<button class="btn btn-primary" id="button-new" @onclick="() => NewSessionAsync()">New Chat</button>
<div class="session-list mt-3">    
    @if (Sessions?.Count() > 0)
    {
        foreach (var session in Sessions)
        {
            <div class="session-item mt-1 rounded-custom @(session.IsActive ? "bg-primary-translucent text-white" : "bg-white")"
            @onclick="() => SelectSessionAsync(session)">
                <p>@(string.IsNullOrWhiteSpace(session.Title) ? "Untitled Session" : session.Title)</p>
            </div>
        }
    }
    else
    {
        <SkeletonList />
    }
</div>